@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --font-roboto: "Roboto", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";
  --animate-slide-in: slideIn 0.4s ease-in-out forwards;
  --animate-fade-in: fadeIn 0.4s ease-in-out forwards;
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer utilities {
  .bg-dot-pattern {
    background-color: #ffffff;
    opacity: 0.1;
    background: radial-gradient(
        circle,
        transparent 20%,
        #ffffff 20%,
        #ffffff 80%,
        transparent 80%,
        transparent
      ),
      radial-gradient(
          circle,
          transparent 20%,
          #ffffff 20%,
          #ffffff 80%,
          transparent 80%,
          transparent
        )
        100px 100px,
      linear-gradient(#000000 8px, transparent 8px) 0 -4px,
      linear-gradient(90deg, #000000 8px, #ffffff 8px) -4px 0;
    background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
  }
  .bg-circle-pattern {
    background-color: #ffffff;
    opacity: 0.02;
    background-image: radial-gradient(circle at center center, #000000, #ffffff),
      repeating-radial-gradient(
        circle at center center,
        #000000,
        #000000,
        31px,
        transparent 62px,
        transparent 31px
      );
    background-blend-mode: multiply;
  }
}

@utility container {
  margin: 0 auto;
  padding: 0 0.5rem;
  @media (width>=40rem) {
    padding: 0 1rem;
  }
}

body {
  font-family: var(--font-roboto);
}
